@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://fonts.gstatic.com/s/vollkorn/v5/BCFBp4rt5gxxFrX6F12DKnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


h1 {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 45px;
    line-height: 42px;
    color:#266B7C;
    text-align: center;
	margin-bottom: 20px;
}


#h1.col-xs-12 {
  font-size: 40px;
}

h2 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 40x; /*error not changing */
  line-height: 35px;
  color:black;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', Georgia, Helvetica, Arial, sans-serif;m
  font-size: 20px;
  line-height: 24px;
  color:#EFEFEF;
  text-align: center;
}

h4
{
font-family: 'Open Sans', Georgia, Helvetica, Arial, sans-serif;
font-size: 21px;
line-height: 24px;
/* font-weight: bold; */
}


p, ul, li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color:black;
}

p.col-xs {
  font-size: 15px;
  line-height: 20px;
}

q {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 32px;
  color:black;
  font-style: italic;
  text-align: center;
}

a:link
{
text-decoration:none;
color: #000; 
}
a:visited
{
text-decoration:none;
color: #000; 
}
a:hover
{
text-decoration:none;
color: #3A959C; 
}
a:active
{
text-decoration:none;
color: #red; 
}


.padding_vertical_20 { 
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
    background-color:#EFEFEF;
}
  
.ivsb {
  visibility:hidden;
}

.center_text, .text_center {
  text-align: center;
}

.center_image, .image_center {
    display:block;
    margin: auto;
}
 
float_left {
float: left
} 

float_right {
float: right
} 
 
.jumbo {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
	}
 
.bg_beige {
	background-color:#f8f8f8;
}

.bg_gray {
	background-color:#EFEFEF;
}

.bg_blue {
background-color:#419EA7
}
 
.bg_pixel {
  background-image:url("/assets/img/pixel_weave.png");

}

.skyline_padding {
padding-bottom: 80px;
}

.jumbo-rooftops {
  padding: 50px;
  height: 250px;
  background-image:url("/assets/img/neat_normal_roof.png");
  background-repeat: repeat-x;
  background-size: auto 300px;
}

.jumbo-footer {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  line-height: 2.1428571435;
  background-color:#28707F;
  text-align: center
}


.jumbo-footer p, .jumbo-footer h1, .jumbo-footer h2, .jumbo-footer h3 {
  color: #EFEFEF;
}

.beige_gray_gradient {
background: #f8f8f8; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-linear-gradient(top,  #f8f8f8 0%, #efefef 80%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(80%,#efefef)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f8f8f8 0%,#efefef 80%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f8f8f8 0%,#efefef 80%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f8f8f8 0%,#efefef 80%); /* IE10+ */

background: linear-gradient(to bottom,  #f8f8f8 0%,#efefef 80%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}

#windmill.col-xs-12.col-s-6.col-md-6 {
  background-image:url("/assets/img/windmill_only_short_center3.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.windmill {
  background-image:url("/assets/img/windmill_only_short_center3.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 15%;
  /*
  margin: 20px;
  padding: 15px;
  */
}

#sails:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/* webomizz css */
.map-container {
    position: relative;
    padding-bottom: 26.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* webomizz css */


.bluebox {
  background-color: blue;
}


.no_margin {
margin: none;
}

.no_padding {
padding: none;
}

.lower_buffer {
margin-bottom: 50px;
}



.navbar-header {
text-align: center;
}

.nav_brand {
}

.nav_brand h1 {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 28px;
    line-height: 30px;
    color:#266B7C;
    text-align: center;
	margin-bottom: 5px;
}


/*
h1.nav_brand{
font-size: 15px;
}

.navbar-brand {
font-size: 15px;
}

.nav_brand {
font-size: 15px;
text-align:center;
}
*/

@media (max-width: 768px) {
 .navbar-header {
	margin-left: 70px;
 }
}

@media (max-width: 600px) {
 .burger_fix {
 margin-left: 5px;
 }
}

@media (min-width: 768px) {
  .header .navbar-brand { 

	
  }								/* NAVBAR BRAND CONTROLS ROUNDHILL/LOGO SECTION */
  
  /* MAKES NAVBAR FLOAT TO RIGHT */
 
 .navbar-fixed-top .navbar-nav {
 float: right; 
  }

}

.navbar-fixed-top {
  min-height: 50px;
  font-size: 15px;
}

{
	.navbar .navbar-nav {
		float: right;
	}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		float: right;
	}
	
	.navbar-fixed-top .navbar-collapse {

	}
}



/* when screen size = extra small or smaller, only right ICB logo shows- */
 @media all and (min-width: 768px) {
  #ICB_below { 
     display:none; 
  } 
}

/* when screen size = small or larger, only below ICB logo shows- */
 @media all and (max-width: 767px) {
  #ICB_right { 
     display:none; 
  } 
}

/* when screen size = extra small or smaller, only right ICB logo shows- */
@media only screen and (min-width : 768px) {
  #ICB_below { 
     display:none; 
  } 
}

/* when screen size = small or larger, only below ICB logo shows- */
@media only screen and (max-width : 767px) {
  #ICB_right { 
     display:none; 
  } 
}




/*
@media (max-width: 480px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
}
*/

/* NAVBAR CSS START */
/*
.header {
  position: fixed;
  width: 100%;
  background: #3A3836;
  z-index: 10;
}
.header .navbar-brand {
  font-weight: 900;
}
.header .navbar {
  margin: 0;
  border: none;
}

.navbar-default {
    background-color: #blue;
    border-color: #green;
}

*/

/* title */ /*
.navbar-default .navbar-brand {
    color: #red;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #yellow;
}

*/
/* link */
/*
.navbar-default .navbar-nav > li > a {
    color: #maroon;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #red;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #green;
    background-color: #blue;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
*/
/* caret */
/*
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
*/
/* mobile version */
/*
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
*/
/* NAVBAR CSS START 
.page-section {
  width: 100%;
  min-height: 800px;
  padding: 50px 0;
  border-bottom: 10px solid #fff;
}
.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}
.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}
.page-section p.lead {
  font-size: 1.8em;
}
.page-section p.caption {
  color: #fff;
  padding: 20px;
  background: url(images/trans_black_25.png);
  text-shadow: 1px 1px 1px #000;
}
NAVBAR CSS END */



/* NAVBAR CSS END */    

   


/* NAVBAR CSS END 
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
@media (min-width: 768px) {
.navbar {
    border-radius: 4px;
}
}
.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}
.navbar-header:after {
    clear: both;
}
.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}
.navbar-header:after {
    clear: both;
}
@media (min-width: 768px) {
.navbar-header {
    float: left;
}
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
.navbar-collapse .navbar-text:last-child {
    margin-right: 0;
}
}
.container > .navbar-header, .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
.container > .navbar-header, .container > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}
}
.navbar-static-top {
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
.navbar-static-top {
    border-radius: 0;
}
}


}
.navbar-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
.navbar-toggle {
    display: none;
}
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}
NAVBAR CSS END */    




/*
 @media all and (min-width: 1000px) {
  #img_map { 
     display:none; 
  } 
}


 @media all and (max-width: 999px){ 
  #java_map { display:none;
  } 
}   

  #img_map { 
     display:none; 
  }          
*/  


/*
<style>
     #map_canvas {
        width: 525px;
        height: 375px;
    }
</style>

#map_canvas {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
#map_canvas iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
    font-weight: 400;
}
*/

/*
.jumbo-white {
    position: relative; 
    padding: 50px 0;    
    text-align: center; 
    font-size: 30px;
    font-weight: 300;
    line-height: 2.1428571435;
    color:#000000;
    background-color:#ffffff;
}


.jumbo-gray h1 {
  line-height: 1;
  color: inherit;
}

.jumbo-gray p {
  line-height: 1.4;
}

.container .jumbo-gray {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .jumbo-gray {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbo-gray {
    padding-right: 60px;
    padding-left: 60px;
  }

.container-gray {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:#EFEFEF;
}

*/